aiofiles==23.2.1
aiogram==3.7.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.7.0
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
et-xmlfile==1.1.0
frozenlist==1.4.1
greenlet==3.0.3
idna==3.7
magic-filter==1.0.12
multidict==6.0.5
mysql-connector-python==8.4.0
numpy==1.26.4
openpyxl==3.1.3
pandas==2.2.2
playwright==1.44.0
psutil==5.9.8
pydantic==2.7.3
pydantic_core==2.18.4
pyee==11.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
yarl==1.9.4